@model List<OShop.DataLayer.Entities.ProductGroup>
@{
    Layout = "/areas/admin/Views/shared/_Layout.cshtml";
}
<a class="btn btn-sm btn-success " asp-controller="ProductGroups" asp-action="CreateProductGroup" asp-area="admin">افزودن گروه</a>
<table class="table table-striped">
	<tr>
		<th>id</th>
		<th>نام گروه</th>
		<th>تصویر</th>
		<th>عملیات</th>
	</tr>
	@foreach(var pg in Model)
	{
	<tr>
		<th>@pg.ProductGroupId</th>
		<th>@pg.ProductGroupName</th>
		<th>
			<img src="/@pg.ProductGroupImage">
		</th>
		<th>
			<a asp-controller="ProductGroups" asp-action="ShowProductGroup" asp-area="admin" class="text-info">
				<i class="bi bi-eye-fill"></i>
			</a>
			<a asp-controller="ProductGroups" asp-action="EditProductGroup" asp-area="admin" class="text-warning">
				<i class="bi bi-pencil-square"></i>
			</a>
			<a asp-controller="ProductGroups" asp-action="DeletePrdouctGroup" asp-area="admin" class="text-danger">
				<i class="bi bi-trash3-fill"></i>
			</a>
		</th>
	</tr>
	}

</table>
